div#page-header-container {
  position: fixed;
  z-index: 99;
  background: white;
  width: 100%;
  margin-left: 105px;
}

div#page-header-search-button {
  padding-top: 30px;
  padding-left: 30px;
}

div#page-header-settings-switch {
  padding-top: 2em;
}
